body{
    text-align: center;
    padding-top: 16%;
    padding-bottom: 15%;
    padding-left: 23%;
    padding-right: 15%;
    background-image: url(river1.jpg) ;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}

#button{
    
}